### Задание 1.

#### В каких странах имеется наибольшее число уникальных пользователей. Постройте барчарт, где:
- по оси x – страна
- по оси y – число пользователей

#### В качестве ответа укажите число уникальных пользователей из Великобритании.

In [ ]:
SELECT
    COUNT(DISTINCT CustomerID) AS unique_users,
    Country 
FROM retail
GROUP BY Country
ORDER BY unique_users DESC
# 3950

### Задание 2.
#### Смотрим на динамику изменения числа активных пользователей в месяц в Великобритании, Австралии и Нидерландах. Полученная вами результирующая таблица должна иметь вид: страна - число уникальных пользователей за определённый месяц.

- MAU (monthly active users) – число уникальных пользователей за месяц. Активные пользователи – те, кто сделал хотя бы один заказ за выбранный промежуток времени (месяц).

#### В качестве ответа укажите наименьшее число пользователей за февраль 2011.

In [ ]:
SELECT
    Country,
    COUNT(DISTINCT CustomerID) AS count_users,
    toStartOfMonth(InvoiceDate) AS month
FROM retail
WHERE Country in ('United Kingdom', 'Australia', 'Netherlands')
GROUP BY Country, month
ORDER BY month DESC

### Задание 3.
#### Давайте посмотрим на динамику изменения числа активных пользователей в месяц уже для всех стран, кроме Великобритании. 

#### В каких месяцах число активных пользователей во Франции было больше, чем в Германии?

In [ ]:
SELECT
    Country,
    COUNT(DISTINCT CustomerID) AS count_users,
    toStartOfMonth(InvoiceDate) AS month
FROM retail
WHERE Country != 'United Kingdom' 
GROUP BY Country, month
ORDER BY month DESC

### Задание 4.
#### Давайте посмотрим на динамику изменения числа активных пользователей в месяц уже для всех стран, кроме Великобритании. 

#### В каких месяцах число активных пользователей во Франции было больше, чем в Германии?

In [ ]:
SELECT
    Country,
    COUNT(DISTINCT CustomerID) AS count_users,
    toStartOfMonth(InvoiceDate) AS month
FROM retail
WHERE Country != 'United Kingdom' 
GROUP BY Country, month
ORDER BY month DESC

### Задание 5.
####  Посчитайте среднюю сумму заказа (AOV – average order value) в каждой из стран.

In [ ]:
SELECT
    Country,
    AVG(TotalPrice) AS total_avg
FROM
    (SELECT
        InvoiceNo,
        Country,
        SUM(UnitPrice * Quantity) AS TotalPrice
    FROM 
        retail
    WHERE
        Quantity > '0'
    GROUP BY
        InvoiceNo,
        Country)
GROUP BY
    Country

### Задание 6.
#### Как изменялась средняя сумма заказа в разных странах по месяцам?
#### Предположим, нас интересует динамика в следующих странах: United Kingdom, Germany, France, Spain, Netherlands, Belgium, Switzerland, Portugal, Australia, USA. Визуализируйте результат и выберите верные утверждения.

In [ ]:
SELECT
    toStartOfMonth(InvoiceDate) AS month,
    Country,
    AVG(TotalPrice) AS total_avg
FROM
    (SELECT
        InvoiceDate,
        Country,
        SUM(UnitPrice * Quantity) AS TotalPrice
    FROM 
        retail
    WHERE
        Country in ('United Kingdom', 'Germany', 'France', 'Spain', 'Netherlands', 'Belgium', 'Switzerland', 'Portugal', 'Australia', 'USA')
    GROUP BY
        InvoiceDate,
        Country)
GROUP BY
    Country, month
ORDER BY
    total_avg DESC

### Задание 7.

#### Сколько товаров пользователи обычно добавляют в корзину? Посчитайте среднее количество товаров, добавленных в корзину, с разбивкой по странам. В качестве ответа укажите среднее число товаров в заказе среди пользователей в Канаде (Canada).

In [ ]:
SELECT
    Country,
    AVG(sum_quantity) AS avg_quantity
FROM
    (SELECT
        SUM(Quantity) AS sum_quantity,
        Country,
        InvoiceNo
    FROM
        retail
    GROUP BY
        Country, InvoiceNo
    )
GROUP BY
    Country
ORDER BY
    avg_quantity DESC

### Задание 8.

#### Посмотрим на Нидерланды (Netherlands) более подробно. Сгруппируйте данные по пользователям и посмотрите, кто купил наибольшее число товаров. В ответе укажите идентификатор данного пользователя.

In [ ]:
SELECT
    CustomerID,
    SUM(Quantity) AS sum_Quantity,
    Country
FROM
    retail
GROUP BY
    CustomerID, Country
ORDER BY
    sum_Quantity DESC